<!DOCTYPE html>
<html lang="en">  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karpay Novedades</title>          
    <!-- link css -->
    <link rel="stylesheet" href="/styles/indexes.css">

</head>
    


<!-- header -->
<%- include('adminPartials/adminHeader') %>
<!--fin del header -->

<body>
    <h2>Index de Novedades </h2>
    <section class= "buttons-section">
        <a href="/admin/novedades/register"><button class="users-button">Nueva Novedad</button> </a>        
    </section>

    <section class="main-section">

        <section class="grid-container">
            <% Novedades.forEach(Novedades => { %> 
                
                <article class= 'usersList'>
                    <a href="/admin/novedades/edit/<%= Novedades.id %>">
                        <button class= "generalButton">Editar</button>    
                    </a>

                    <form action="/admin/novedades/delete/<%= Novedades.id %>?_method=DELETE" method="POST" enctype="multipart/form-data" id="delete">
                        <button class= "generalButton">Eliminar</a></button>
                    </form>
                    
                    <a href="/admin/novedades/detail/<%= Novedades.id %>">
                    <img id="myImg" src="/images/novedades/<%= Novedades.image %>" class="usersImage" alt="Image">               
                    <p class= "form"><%= Novedades.title %> </p>              
                    
                </a>                   
                </article>
            
            
            <% }) %>    
            
        </section>
    </section>
        
</body>
</html>