<!DOCTYPE html>
<html lang="en">  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karpay Talleres</title>          
    <!-- link css -->
    <link rel="stylesheet" href="/styles/indexes.css">

</head>
    


<!-- header -->
<%- include('adminPartials/adminHeader') %> 
<!--fin del header -->

<body>
    <h2>Index de Talleres </h2>
    <section class= "buttons-section">
        <a href="/admin/talleres/register"><button class="users-button">Nuevo Taller</button> </a>        
    </section>

    <section class="main-section">

        <section class="grid-container">
            <% Talleres.forEach(Talleres => { %>
                
                <article class= 'usersList'>
                    <a href="/admin/talleres/edit/<%= Talleres.id %>">
                        <button class= "generalButton">Editar</button>    
                    </a>

                    <form action="/admin/talleres/delete/<%= Talleres.id %>?_method=DELETE" method="POST" enctype="multipart/form-data" id="delete">
                        <button class= "generalButton">Eliminar</a></button>
                    </form>
                    
                    <a href="/admin/talleres/detail/<%= Talleres.id %>">
                    <img id="myImg" src="/images/talleres/<%= Talleres.image %>" class="usersImage" alt="Image">               
                    <p><%= Talleres.title %> </p>              
                    
                </a>                   
                </article>
            
            
            <% }) %>    
            
        </section>
    </section>
        
</body>
</html>