<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Karpay</title>     
    <!-- link css -->
    <link rel="stylesheet" href="/styles/forms.css">
    
  </head>

<!-- header --> 
<%- include('adminPartials/adminHeader') %>
<!--fin del header -->

   
<body>  
   
    <section class="main-section">    
        <section class="section">
            

            <article>
                <p><%= oneTaller.title %></p> 
                <hr>
                <img id="novedadImg" src="/images/talleres/<%= oneTaller.image %>" class="detailImage" alt="Image">
                <div class= 'texto'>
                    <p><%= oneTaller.resume %></p>
                    <p><%= oneTaller.description %></p>
                </div>
            </article>



        </section>
    </section>      
</body>
</html>
