<!DOCTYPE html>
<html lang="en">  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karpay Usuarios</title>          
    <!-- link css -->
    <link rel="stylesheet" href="/styles/indexes.css">

</head>
    


<!-- header -->
<%- include('adminPartials/adminHeader') %>
<!--fin del header -->

<body>
    <h2>Index de usuarios </h2>
    <section class= "buttons-section">
        <a href="/admin/users/register"><button class="users-button">Nuevo Usuario</button> </a>        
    </section>

    <section class="main-section">

        <section class="grid-container">
            <% users.forEach(users => { %>
                
                <article class= 'usersList'>
                    <a href="users/edit/<%= users.id %>">
                        <button class= "generalButton">Editar</button>    
                    </a>

                    <form action="/admin/users/delete/<%= users.id %>?_method=DELETE" method="POST" enctype="multipart/form-data" id="delete">
                        <button class= "generalButton">Eliminar</a></button>
                    </form>
                    
                    
                    <img id="myImg" src="/images/users/<%= users.image %>" class="usersImage" alt="Image">               
                    <p class= "form"><%= users.first_name %> <%= users.last_name %></p>              
                    
                                 
                </article>
            
            
            <% }) %>    
            
        </section>
    </section>
        
</body>
</html>